[env]
'_'.file = ["{{config_root}}/.env"]

[tasks.gen]
outputs = ["generated/*.yaml"]
sources = ["patches/*.yaml", "secrets.yaml", "gen.sh", ".env"]
dir = "{{config_root}}"
run = "./gen.sh"

[tasks.'talos:all']
run = ["talosctl --nodes=$SOPHONS_NODES"]

[tasks.'talos:beta']
run = ["talosctl --nodes=$SOPHONS_BETA"]

[tasks.'talos:theta']
run = ["talosctl --nodes=$SOPHONS_THETA"]

[tasks.'talos:kaos']
run = ["talosctl --nodes=$SOPHONS_KAOS"]

[tasks.'talos:prime']
run = ["talosctl --nodes=$SOPHONS_PRIME"]

[tasks.'talos:oduduwa']
run = ["talosctl --nodes=$SOPHONS_ODUDUWA"]

[tasks.'talos:caeneus']
run = ["talosctl --nodes=$SOPHONS_CAENEUS"]

[tasks.'apply:beta']
depends = ["gen"]
dir = "{{config_root}}"
run = ["mise taos:beta apply-config -f generated/controlplane.beta.yaml"]

[tasks.'apply:theta']
depends = ["gen"]
dir = "{{config_root}}"
run = ["mise talos:theta apply-config -f generated/controlplane.theta.yaml"]

[tasks.'apply:kaos']
depends = ["gen"]
dir = "{{config_root}}"
run = ["mise talos:kaos apply-config -f generated/controlplane.kaos.yaml"]

[tasks.'apply:prime']
depends = ["gen"]
dir = "{{config_root}}"
run = ["mise talos:prime apply-config -f generated/worker.prime.yaml"]

[tasks.'apply:oduduwa']
depends = ["gen"]
dir = "{{config_root}}"
run = ["mise talos:oduduwa apply-config -f generated/worker.oduduwa.yaml"]

[tasks.'apply:caeneus']
depends = ["gen"]
dir = "{{config_root}}"
run = ["mise talos:prime apply-config -f generated/worker.caeneus.yaml"]

[tasks.'upgrade']
# IMPORTANT: https://longhorn.io/docs/1.9.0/advanced-resources/os-distro-specific/talos-linux-support/#talos-linux-upgrades
run = "talosctl upgrade --preserve"

[tasks.'destructive:reset']
run = "talosctl reset --system-labels-to-wipe STATE --system-labels-to-wipe EPHEMERAL"

[tasks.'apply']
depends = ["gen"]
dir = "{{config_root}}"
run = [
  { task = "apply:prime" },
  { task = "apply:oduduwa" },
  { task = "apply:caeneus" },
  { task = "apply:beta" },
  { task = "apply:theta" },
  { task = "apply:kaos" },
]
