[env]
'_'.file = ["{{config_root}}/.env"]

[tasks.gen]
outputs = ["generated/*.yaml"]
sources = ["patches/*.yaml", "secrets.yaml", "gen.sh", ".env"]
dir = "{{config_root}}"
run = "./gen.sh"

[tasks.'talos:prime']
run = ["talosctl --nodes=$SOPHONS_PRIME"]

[tasks.'talos:beta']
run = ["talosctl --nodes=$SOPHONS_BETA"]

[tasks.'talos:theta']
run = ["talosctl --nodes=$SOPHONS_THETA"]

[tasks.'apply:prime']
depends = ["gen"]
dir = "{{config_root}}"
run = [
  "talosctl --nodes=$SOPHONS_PRIME apply-config -f generated/controlplane.prime.yaml",
]

[tasks.'apply:beta']
depends = ["gen"]
dir = "{{config_root}}"
run = [
  "talosctl --nodes=$SOPHONS_BETA apply-config -f generated/controlplane.beta.yaml",
]

[tasks.'apply:theta']
depends = ["gen"]
dir = "{{config_root}}"
run = [
  "talosctl --nodes=$SOPHONS_THETA apply-config -f generated/controlplane.theta.yaml",
]

[tasks.'upgrade']
# IMPORTANT: https://longhorn.io/docs/1.9.0/advanced-resources/os-distro-specific/talos-linux-support/#talos-linux-upgrades
run = "talosctl upgrade --preserve"

[tasks.'destructive:reset']
run = "talosctl reset --system-labels-to-wipe STATE --system-labels-to-wipe EPHEMERAL"

[tasks.'apply']
depends = ["gen"]
dir = "{{config_root}}"
run = [
  { task = "apply:prime" },
  { task = "apply:beta" },
  { task = "apply:theta" },
]
