# prometheus
addr: ${LITESTREAM_PROMETHEUS_ADDRESS}

logging:
  level: ${LITESTREAM_LOGGING_LEVEL}

dbs:
  - path: /var/lib/headscale/db.sqlite
    replicas:
      - type: s3
        path: legacy/headscale/db.sqlite
        force-path-style: true
        bucket: ${LITESTREAM_BUCKET}
        region: ${LITESTREAM_BUCKET_REGION}
        endpoint: ${LITESTREAM_ENDPOINT}
        sync-interval: ${LITESTREAM_SYNC_INTERVAL}
        retention: ${LITESTREAM_RETENTION}
        validation-interval: ${LITESTREAM_VALIDATION_INTERVAL}
        snapshot-interval: ${LITESTREAM_SNAPSHOT_INTERVAL}
  - path: /var/lib/headplane/hp_persist.db
    replicas:
      - type: s3
        path: legacy/headscale/hp_persist.db
        force-path-style: true
        bucket: ${LITESTREAM_BUCKET}
        region: ${LITESTREAM_BUCKET_REGION}
        endpoint: ${LITESTREAM_ENDPOINT}
        sync-interval: ${LITESTREAM_SYNC_INTERVAL}
        retention: ${LITESTREAM_RETENTION}
        validation-interval: ${LITESTREAM_VALIDATION_INTERVAL}
        snapshot-interval: ${LITESTREAM_SNAPSHOT_INTERVAL}
