cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

cluster:
  name: sophons

resources:
  requests:
    cpu: 250m
    memory: 128Mi
  limits:
    memory: 512Mi

cni:
  customConf: false
  uninstall: false

gatewayAPI:
  enableAlpn: true
  enableAppProtocol: true
  enabled: true
  hostNetwork:
    enabled: true

ipv6:
  enabled: true
ipam:
  mode: kubernetes

k8sServiceHost: localhost
k8sServicePort: 7445

routingMode: native
# tunnelProtocol: vxlan
ipv4NativeRoutingCIDR: 10.41.0.0/16
ipv6NativeRoutingCIDR: 2001:cafe:41::/56

# bpf:
#   masquerade: true
#   hostLegacyRouting: true
#   lbModeAnnotation: true
kubeProxyReplacement: true
# socketLB:
#   hostNamespaceOnly: true
# loadBalancer:
#   mode: dsr
#   acceleration: best-effort
#   dsrDispatch: geneve
# bandwidthManager:
#   enabled: false

envoy:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 32Mi
    limits:
      memory: 128Mi
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy:
        # Used since cilium proxy uses setting IPPROTO_IP/IP_TRANSPARENT
        - NET_ADMIN
        # We need it for now but might not need it for >= 5.11 specially
        # for the 'SYS_RESOURCE'.
        # In >= 5.8 there's already BPF and PERMON capabilities
        # - SYS_ADMIN
        # Both PERFMON and BPF requires kernel 5.8, container runtime
        # cri-o >= v1.22.0 or containerd >= v1.5.0.
        # If available, SYS_ADMIN can be removed.
        - PERFMON
        - BPF
        # Bind to ports < 1023
        - NET_BIND_SERVICE

hubble:
  ui:
    enabled: true
  relay:
    enabled: true

operator:
  replicas: 3
  unmanagedPodWatcher:
    restart: true

policyEnforcementMode: default
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
