global
  log stdout format raw local0 debug
  maxconn 4096
  cpu-policy none
  ssl-load-extra-del-ext
  expose-experimental-directives
  setcap cap_net_bind_service

defaults
  mode http
  log global
  option logasap
  option httplog
  option forwardfor
  option http-keep-alive
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  timeout http-keep-alive 120s
  # detailed frontend connection error log
  error-log-format "%ci:%cp [%tr] %ft %ac/%fc %[fc_err]/ %[ssl_fc_err,hex]/%[ssl_c_err]/%[ssl_c_ca_err]/%[ssl_fc_is_resumed] %[ssl_fc_sni]/%sslv/%sslc"

listen probe
  bind :9069
  bind [::]:9069 v4v6
  monitor-uri /healthz
  http-request use-service prometheus-exporter if { path /metrics }
  option dontlognull

frontend ft_ssh
  mode tcp
  option tcplog
  bind [::]:22 v4v6
  maxconn 32
  default_backend bk_ssh

backend bk_ssh
  server traefik traefik.traefik.svc.cluster.local:22 send-proxy-v2

frontend ft_http
  bind [::]:80 v4v6
  http-request set-header X-Forwarded-Proto http
  default_backend bk_http

backend bk_http
  http-reuse safe
  server traefik traefik.traefik.svc.cluster.local:80 send-proxy-v2 pool-low-conn 16 pool-max-conn 128

frontend ft_https
  option httpslog
  bind [::]:443 v4v6 ssl crt /usr/local/etc/haproxy/certs/tls.crt
  bind quic6@[::]:443 v4v6 ssl crt /usr/local/etc/haproxy/certs/tls.crt
  http-request set-header X-Forwarded-Proto https
  http-response set-header alt-svc "h3=\":443\";ma=2592000;"

  acl is_h3 ssl_fc_alpn -i h3
  acl is_h2 ssl_fc_alpn -i h2
  acl is_upgrade hdr(upgrade) -m found
  use_backend bk_https_h1 if is_upgrade
  use_backend bk_https if is_h2 || is_h3
  default_backend bk_https_h2

backend bk_https
  http-reuse always
  server traefik quic6@traefik.traefik.svc.cluster.local:443 ssl verify required ca-file @system-ca sni-auto alpn h3 pool-low-conn 16 pool-max-conn 256

backend bk_https_h2
  http-reuse always
  server traefik traefik.traefik.svc.cluster.local:443 send-proxy-v2 resolve-prefer ipv6 ssl verify required ca-file @system-ca sni-auto alpn h2 pool-low-conn 16 pool-max-conn 256

backend bk_https_h1
  http-reuse safe
  server traefik traefik.traefik.svc.cluster.local:443 send-proxy-v2 resolve-prefer ipv6 ssl verify required ca-file @system-ca sni-auto alpn http/1.1 pool-low-conn 16 pool-max-conn 128
