global
  log stdout format raw local0 debug

  nbthread 2
  maxconn 1024
  maxsslconn 512
  cpu-policy none
  ssl-load-extra-del-ext
  expose-experimental-directives
  setcap cap_net_bind_service

defaults
  mode http
  log global
  option httplog
  option http-keep-alive
  timeout connect 5s
  timeout client 600s
  timeout server 600s
  timeout tunnel 3600s
  timeout http-keep-alive 180s
  # detailed frontend connection error log
  error-log-format "%ci:%cp [%tr] %ft %ac/%fc %[fc_err]/ %[ssl_fc_err,hex]/%[ssl_c_err]/%[ssl_c_ca_err]/%[ssl_fc_is_resumed] %[ssl_fc_sni]/%sslv/%sslc"

listen probe
  bind :9069
  bind [::]:9069
  monitor-uri /healthz
  http-request use-service prometheus-exporter if { path /metrics }
  option dontlognull

frontend ft_ssh
  mode tcp
  option tcplog

  bind :22
  bind [::]:22

  maxconn 16
  default_backend bk_ssh

backend bk_ssh
  mode tcp

  server traefik traefik.traefik.svc.cluster.local:22 resolve-prefer ipv6 send-proxy-v2

frontend ft_http
  bind :80
  bind [::]:80

  http-request redirect scheme https code 301

frontend ft_https
  option httpslog

  bind :443 ssl crt /usr/local/etc/haproxy/certs/tls.crt
  bind [::]:443 ssl crt /usr/local/etc/haproxy/certs/tls.crt
  bind quic4@:443 ssl crt /usr/local/etc/haproxy/certs/tls.crt
  bind quic6@[::]:443 ssl crt /usr/local/etc/haproxy/certs/tls.crt

  acl is_h3 ssl_fc_alpn -i h3
  acl is_upgrade hdr(upgrade) -m found
  acl is_cloudflare src -f /usr/local/etc/haproxy/cloudflare-ips.txt

  http-request del-header cf-connecting-ip   if !is_cloudflare
  http-request del-header x-real-ip          if !is_cloudflare
  http-request del-header x-forwarded-for    if !is_cloudflare
  http-request del-header x-forwarded-proto  if !is_cloudflare
  http-request del-header x-forwarded-host     if !is_cloudflare
  http-request del-header x-forwarded-port     if !is_cloudflare

  http-request set-header x-forwarded-for %[src] if !is_cloudflare
  http-request set-header x-forwarded-proto https
  http-response set-header alt-svc "h3=\":443\";ma=2592000;" if !is_h3

# https://github.com/haproxy/haproxy/issues/3267#issuecomment-3898064585
# force the :authority pseudo header to ensure http/1.1 requests work
  http-request set-uri https://%[req.hdr(host)]%[pathq]

  use_backend bk_https_h1 if is_upgrade
  use_backend bk_https_h2 if METH_HEAD # avoid issues with non-zero content-length
  default_backend bk_https_h3

backend bk_https_h3
  http-reuse always

  server traefik quic6@traefik.traefik.svc.cluster.local:443 ssl verify required ca-file @system-ca sni-auto alpn h3 pool-low-conn 16 pool-max-conn 64

backend bk_https_h2
  http-reuse always

  server traefik traefik.traefik.svc.cluster.local:443 resolve-prefer ipv6 ssl verify required ca-file @system-ca sni-auto alpn h2 pool-low-conn 16 pool-max-conn 64

backend bk_https_h1
  http-reuse safe

  server traefik traefik.traefik.svc.cluster.local:443 resolve-prefer ipv6 ssl verify required ca-file @system-ca sni-auto alpn http/1.1 pool-low-conn 8 pool-max-conn 48
