# yaml-language-server: $schema=https://github.com/yannh/kubernetes-json-schema/raw/refs/heads/master/v1.34.1/service.json
apiVersion: v1
kind: Service
metadata:
  labels:
    app: longhorn-ui
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.10.0
  annotations:
    metallb.io/address-pool: internal
    external-dns.alpha.kubernetes.io/hostname: longhorn.sophons.cloud
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
  name: longhorn-frontend-internal
  namespace: longhorn-system
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: longhorn-ui
