# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1/service.json
apiVersion: v1
kind: Service
metadata:
  labels:
    app: longhorn-ui
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.10.0
  annotations:
    metallb.io/address-pool: internal
  name: longhorn-frontend-internal
  namespace: longhorn-system
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: longhorn-ui
