- kubernetes:
    cluster:
      show: true
      cpu: true
      memory: true
      showLabel: true
      label: "sophons"
    nodes:
      show: false

- longhorn:
  # Show the expanded view
  expanded: true
  # Shows a node representing the aggregate values
  total: true
  # Shows the node names as labels
  labels: true
  # Show the nodes
  nodes: true

- search:
    provider: custom
    url: https://www.ecosia.org/search?q=
    target: _blank
    suggestionUrl: https://ac.ecosia.org/autocomplete?type=list&q= # Optional
    showSearchSuggestions: true # Optional

