- kubernetes:
    cluster:
      show: true
      cpu: true
      memory: true
      showLabel: true
      label: "sophons"
    nodes:
      show: false

- longhorn:
    expanded: true
    total: true
    labels: true
    nodes: false

- search:
    provider: custom
    url: https://www.ecosia.org/search?q=
    target: _blank
    suggestionUrl: https://ac.ecosia.org/autocomplete?type=list&q= # Optional
    showSearchSuggestions: true # Optional

