# yaml-language-server: $schema=https://github.com/yannh/kubernetes-json-schema/raw/refs/heads/master/v1.34.1/deployment-apps-v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: headscale
  namespace: headscale
spec:
  strategy:
    type: Recreate
  replicas: 1

  selector: {}
  template:
    spec:
      imagePullSecrets:
        - name: harbor-pull-cred

      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: topology.kubernetes.io/zone
                    operator: NotIn
                    # avoid running inside me house if possible
                    values: [ng-east-1, ng-east-2, ng-middle-east]
              weight: 10

      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

      containers:
        - name: proxy
          image: docker.io/library/traefik:v3.6.0
          args:
            - --log.level=INFO
            - --accesslog=true
            - --entrypoints.web.address=:80
            - --entryPoints.web.proxyProtocol.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --entryPoints.web.forwardedHeaders.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --entryPoints.web.http.redirections.entryPoint.to=websecure
            - --entryPoints.web.http.redirections.entryPoint.scheme=https
            - --entryPoints.web.http.redirections.entryPoint.permanent=true
            - --entrypoints.websecure.address=:443
            - --entrypoints.websecure.http.tls=true
            - --entryPoints.websecure.proxyProtocol.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --entryPoints.websecure.forwardedHeaders.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --providers.file.directory=/etc/traefik
          env:
            - name: GOMEMLIMIT
              value: 60MiB

          ports:
            - containerPort: 80
              name: http
            - containerPort: 443
              name: https

          volumeMounts:
            - mountPath: /etc/traefik/provider.yaml
              name: config
              subPath: traefik.provider.yaml
              readOnly: true
            - mountPath: /etc/traefik/cert
              name: tls
              readOnly: true

          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              memory: 64Mi

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
              add: [NET_BIND_SERVICE]

        - name: lightstream-replicate
          image: docker.io/litestream/litestream:0.3.13
          args: ["replicate", "-config=/etc/litestream/litestream-legacy.yaml"]
          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: GOMEMLIMIT
              value: 60MiB

          ports:
            - name: ls-metrics
              containerPort: 9090

          volumeMounts:
            - name: headscale
              mountPath: "/var/lib/headscale"
              subPath: data
            - name: headplane
              mountPath: "/var/lib/headplane"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              memory: 64Mi

        - name: headscale
          image: ghcr.io/juanfont/headscale:v0.27.1
          args: ["serve"]

          env:
            - name: GOMEMLIMIT
              value: 240MiB

          ports:
            - containerPort: 8080
              name: hs-http
            - containerPort: 8081
              name: hs-metrics
            - containerPort: 50051
              name: hs-grpc

          volumeMounts:
            - name: headscale
              mountPath: /var/lib/headscale
              subPath: data
            - name: headscale
              mountPath: /var/run/headscale
              subPath: run
            - name: config
              mountPath: "/etc/headscale/config.yaml"
              subPath: headscale.yaml
              readOnly: true
            - name: secret
              mountPath: "/etc/headscale/noise_private.key"
              subPath: noise_private.key
              readOnly: true
            - name: secret
              mountPath: /etc/headscale/oidc_client.secret
              subPath: oidc_client.secret

          livenessProbe:
            exec:
              command: ["headscale", "health"]
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15

          readinessProbe:
            exec:
              command: ["headscale", "health"]
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15

          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 256Mi

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

        - name: headplane
          image: ghcr.io/tale/headplane:0.6.1

          ports:
            - containerPort: 3000
              name: hp-http

          env:
            - name: GOMEMLIMIT
              value: 120MiB
            - name: HEADPLANE_LOAD_ENV_OVERRIDES
              value: "true"
            - name: HEADPLANE_SERVER__COOKIE_SECRET
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: cookie.secret
            - name: HEADPLANE_INTEGRATION__AGENT__PRE_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: agent_preauth.key
            - name: HEADPLANE_OIDC__HEADSCALE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: headscale_api.key

          volumeMounts:
            - name: headplane
              mountPath: /var/lib/headplane
            - name: config
              mountPath: "/etc/headplane/config.yaml"
              subPath: headplane.yaml
              readOnly: true
            - name: config
              mountPath: "/etc/headscale/config.yaml"
              subPath: headscale.yaml
              readOnly: true
            - name: secret
              mountPath: /etc/headscale/oidc_client.secret
              subPath: oidc_client.secret

          livenessProbe:
            httpGet:
              path: /admin/healthz
              port: hp-http
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15
          readinessProbe:
            httpGet:
              path: /admin/healthz
              port: hp-http
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 256Mi

      initContainers:
        - name: lightstream-restore-headscale
          image: docker.io/litestream/litestream:0.3.13
          args:
            - restore
            - -config=/etc/litestream/litestream-legacy.yaml
            - -parallelism=16
            - /var/lib/headscale/db.sqlite

          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: GOMEMLIMIT
              value: 120MiB
            - name: LITESTREAM_LOGGING_LEVEL
              value: debug

          volumeMounts:
            - name: headscale
              mountPath: "/var/lib/headscale"
              subPath: data
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 25m
              memory: 128Mi
            limits:
              memory: 128Mi

        - name: lightstream-restore-headplane
          image: docker.io/litestream/litestream:0.3.13
          args:
            - restore
            - -config=/etc/litestream/litestream-legacy.yaml
            - -parallelism=16
            - /var/lib/headplane/hp_persist.db

          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: GOMEMLIMIT
              value: 120MiB
            - name: LITESTREAM_LOGGING_LEVEL
              value: debug

          volumeMounts:
            - name: headplane
              mountPath: "/var/lib/headplane"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 25m
              memory: 128Mi
            limits:
              memory: 128Mi

      volumes:
        - name: tls
          secret:
            secretName: gateway-tls
        - name: config
          configMap:
            name: headscale
        - name: secret
          secret:
            secretName: headscale
        - name: litestream
          configMap:
            name: litestream
        - name: headscale
          emptyDir: {}
        - name: headplane
          emptyDir: {}
