# yaml-language-server: $schema=https://github.com/yannh/kubernetes-json-schema/raw/refs/heads/master/v1.34.1/deployment-apps-v1.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: headscale
  namespace: headscale
spec:
  strategy:
    type: Recreate
  replicas: 1

  selector: {}
  template:
    spec:
      priorityClassName: system-cluster-critical
      imagePullSecrets:
        - name: harbor-pull-cred

      tolerations:
        - key: orunmila.sophons.cloud/ase-orun
          operator: Exists
        - key: node.cilium.io/agent-not-ready
          operator: Exists

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    # only nodes with some kind of publicly routable ip
                    values:
                      - sophons-oduduwa
                      - sophons-theta
                      - sophons-beta
                      - sophons-kaos

          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  # control plane nodes do not need to be able to reach an external
                  # api-server/scheduler
                  - key: node-role.kubernetes.io/control-plane
                    operator: Exists
              weight: 100

      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

      # do not depend on cluster DNS
      dnsConfig:
        nameservers:
          - 1.1.1.1
          - 1.0.0.1
          - 9.9.9.9
      dnsPolicy: None
      hostAliases:
        - ip: 10.43.0.69
          hostnames:
            - auth.sophons.cloud
        - ip: 2001:cafe:43::69
          hostnames:
            - auth.sophons.cloud

      containers:
        - name: proxy
          image: docker.io/library/traefik:v3.6.0
          args:
            - --log.level=INFO
            - --accesslog=true
            - --entrypoints.web.address=:80
            - --entryPoints.web.proxyProtocol.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --entryPoints.web.forwardedHeaders.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --entryPoints.web.http.redirections.entryPoint.to=websecure
            - --entryPoints.web.http.redirections.entryPoint.scheme=https
            - --entryPoints.web.http.redirections.entryPoint.permanent=true
            - --entrypoints.websecure.address=:443
            - --entrypoints.websecure.http.tls=true
            - --entryPoints.websecure.proxyProtocol.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --entryPoints.websecure.forwardedHeaders.trustedIPs=100.64.0.0/10,fd7a:115c:a1e0::/48
            - --providers.file.directory=/etc/traefik
          env:
            - name: GOMEMLIMIT
              value: 60MiB

          ports:
            - containerPort: 80
              name: http
            - containerPort: 443
              name: https

          volumeMounts:
            - mountPath: /etc/traefik/provider.yaml
              name: config
              subPath: traefik.provider.yaml
              readOnly: true
            - mountPath: /etc/traefik/cert
              name: tls
              readOnly: true

          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              memory: 64Mi

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
              add: [NET_BIND_SERVICE]

        - name: lightstream-replicate
          image: docker.io/litestream/litestream:0.3.13
          args: ["replicate", "-config=/etc/litestream/litestream-legacy.yaml"]
          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: GOMEMLIMIT
              value: 120MiB

          ports:
            - name: ls-metrics
              containerPort: 9090

          volumeMounts:
            - name: headscale
              mountPath: "/var/lib/headscale"
              subPath: data
            - name: headplane
              mountPath: "/var/lib/headplane"
              subPath: data
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              memory: 128Mi

        - name: headscale
          image: ghcr.io/juanfont/headscale:v0.27.1
          args: ["serve"]

          env:
            - name: GOMEMLIMIT
              value: 240MiB

          ports:
            - containerPort: 8080
              name: hs-http
            - containerPort: 8081
              name: hs-metrics
            - containerPort: 50051
              name: hs-grpc

          volumeMounts:
            - name: headscale
              mountPath: /var/lib/headscale
              subPath: data
            - name: headscale
              mountPath: /var/run/headscale
              subPath: run
            - name: config
              mountPath: "/etc/headscale/config.yaml"
              subPath: headscale.yaml
              readOnly: true
            - name: secret
              mountPath: "/etc/headscale/noise_private.key"
              subPath: noise_private.key
              readOnly: true
            - name: secret
              mountPath: /etc/headscale/oidc_client.secret
              subPath: oidc_client.secret

          livenessProbe:
            exec:
              command: ["headscale", "health"]
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15

          readinessProbe:
            exec:
              command: ["headscale", "health"]
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15

          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 256Mi

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

        - name: headplane
          image: ghcr.io/tale/headplane:0.6.1

          ports:
            - containerPort: 3000
              name: hp-http

          env:
            - name: GOMEMLIMIT
              value: 120MiB
            - name: HEADPLANE_LOAD_ENV_OVERRIDES
              value: "true"
            - name: HEADPLANE_SERVER__COOKIE_SECRET
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: cookie.secret
            - name: HEADPLANE_INTEGRATION__AGENT__ENABLED
              value: "true"
            - name: HEADPLANE_INTEGRATION__AGENT__PRE_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: agent_preauth.key
            - name: HEADPLANE_INTEGRATION__AGENT__CACHE_PATH
              value: /var/lib/headplane/agent/agent_cache.json
            - name: HEADPLANE_OIDC__HEADSCALE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: headscale_api.key

          volumeMounts:
            - name: headplane
              mountPath: /var/lib/headplane
              subPath: data
            - name: headplane
              mountPath: /var/lib/headplane/agent
              subPath: agent
            - name: config
              mountPath: "/etc/headplane/config.yaml"
              subPath: headplane.yaml
              readOnly: true
            - name: config
              mountPath: "/etc/headscale/config.yaml"
              subPath: headscale.yaml
              readOnly: true
            - name: secret
              mountPath: /etc/headscale/oidc_client.secret
              subPath: oidc_client.secret

          livenessProbe:
            httpGet:
              path: /admin/healthz
              port: hp-http
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15
          readinessProbe:
            httpGet:
              path: /admin/healthz
              port: hp-http
            timeoutSeconds: 5
            failureThreshold: 5
            initialDelaySeconds: 15

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 256Mi

        - name: update-cf-dns
          image: docker.io/library/alpine:3.22
          command:
            - ash
            - -euc
            - |
              while :; do
                wget -qS -O /dev/null --post-data "" \
                  --header "authorization: bearer $CLOUDFLARE_API_TOKEN" \
                  https://neckhook.sphns.workers.dev/trigger
                sleep 90 & # 1.5 minutes
                wait $!
              done

          env:
            - name: CLOUDFLARE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: headscale
                  key: neckhook_cf.token

          volumeMounts:
            - name: cache
              mountPath: "/var/cache/apk"
              subPath: apk-cache

          securityContext:
            runAsNonRoot: false
            runAsGroup: 0
            runAsUser: 0
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              memory: 48Mi

      initContainers:
        - name: lightstream-restore-headscale
          image: docker.io/litestream/litestream:0.3.13
          args:
            - restore
            - -config=/etc/litestream/litestream-legacy.yaml
            - -parallelism=16
            - /var/lib/headscale/db.sqlite

          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: GOMEMLIMIT
              value: 120MiB
            - name: LITESTREAM_LOGGING_LEVEL
              value: debug

          volumeMounts:
            - name: headscale
              mountPath: "/var/lib/headscale"
              subPath: data
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 25m
              memory: 128Mi
            limits:
              memory: 128Mi

        - name: lightstream-restore-headplane
          image: docker.io/litestream/litestream:0.3.13
          args:
            - restore
            - -config=/etc/litestream/litestream-legacy.yaml
            - -parallelism=16
            - /var/lib/headplane/hp_persist.db

          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: GOMEMLIMIT
              value: 120MiB
            - name: LITESTREAM_LOGGING_LEVEL
              value: debug

          volumeMounts:
            - name: headplane
              mountPath: "/var/lib/headplane"
              subPath: data
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]

          resources:
            requests:
              cpu: 25m
              memory: 128Mi
            limits:
              memory: 128Mi

      volumes:
        - name: tls
          secret:
            secretName: gateway-tls
        - name: config
          configMap:
            name: headscale
        - name: secret
          secret:
            secretName: headscale
        - name: litestream
          configMap:
            name: litestream
        - name: headscale
          emptyDir: {}
        - name: headplane
          emptyDir: {}
        - name: cache
          emptyDir: {}
