namespace: headscale
labels:
  - pairs:
      app.kubernetes.io/name: headscale
      app.kubernetes.io/version: 0.27.1
    includeSelectors: true
    includeTemplates: true

resources:
  - service.yaml
  # These are now managed with the file provider so Traefik
  # retains routing config even if it can't reach the kube api-server
  # - grpcroute.yaml
  # - httproute.yaml
  - deployment.yaml
  - secret.sops.yaml
  - dnsendpoint.sops.yaml

configMapGenerator:
  - name: headscale
    files:
      - config/headscale.yaml
      - config/headplane.yaml
      - config/traefik.provider.yaml
  - name: litestream
    files:
      - config/litestream-legacy.yaml
