#
# IMPORTANT NOTE
#
# This chart inherits from the bjw-s library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
#
applicationProtocol: http
applicationHost: holding.kaos.nexus
# enc!
applicationSecretKey: ENC[AES256_GCM,data:epvhVMZBEN30P1STIAi56oDsCtLy+wDYSQQB4PMSZZfvGCbvCpYlUSswIkLJSfPr,iv:AkNQ3tUAAp6plyC2W9gbjjVzbMi4EmCWd+HPEykNEWc=,tag:53nsUdJkxPaoLWBDMjMHFg==,type:str]
# enc!
meilisearchMasterKey: ENC[AES256_GCM,data:PqunZ+CfTKy7lOgJgX2sAfvgnpM02GIZa+t7k8I1,iv:z47+2g3hwmNFfv/WMa1fIpR93wRWS9pWiscU0o9p5xo=,tag:sn8/CfeUgdegzDDRz8qBaA==,type:str]
ingress:
  karakeep:
    annotations:
      gethomepage.dev/description: Hoard all the things!
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Second brain
      gethomepage.dev/icon: karakeep.png
      gethomepage.dev/name: Karakeep
      external-dns.alpha.kubernetes.io/target: traefik-star-theta.kaos.nexus
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - hosts:
          - holding.kaos.nexus
        secretName: karakeep-ingress-cert
controllers:
  karakeep:
    statefulset:
      volumeClaimTemplates: []
    containers:
      karakeep:
        envFrom:
          - secretRef:
              name: '{{ .Release.Name }}'
          - secretRef:
              name: '{{ .Release.Name }}-meilesearch'
          - secretRef:
              name: hoarder-access-key
        env:
          DISABLE_SIGNUPS: "true"
          DB_WAL_MODE: "true"
          ASSET_STORE_S3_ENDPOINT: s3.eu-central-003.backblazeb2.com
          ASSET_STORE_S3_REGION: eu-central-003
          ASSET_STORE_S3_BUCKET: sophons-karakeep
          ASSET_STORE_S3_FORCE_PATH_STYLE: "true"
      litestream-replicate:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - replicate
          - -config=/etc/litestream/litestream.yaml
        envFrom:
          - secretRef:
              name: litestream-access-key
        ports:
          - name: metrics
            containerPort: 9090
    initContainers:
      litestream-restore-db:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/db.db
        envFrom:
          - secretRef:
              name: litestream-access-key
      litestream-restore-queue:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/queue.db
        envFrom:
          - secretRef:
              name: litestream-access-key
  chrome:
    pod:
      nodeSelector:
        topology.kubernetes.io/region: ng
    containers:
      chrome:
        securityContext:
          seccompProfile:
            type: Localhost
            localhostProfile: profiles/chrome.json
        resources:
          requests:
            cpu: 100m
persistence:
  data:
    type: emptyDir
    advancedMounts:
      karakeep:
        karakeep:
          - path: /data
        litestream-replicate:
          - path: /data
        litestream-restore-db:
          - path: /data
        litestream-restore-queue:
          - path: /data
  # chrome-tmp:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /tmp
  # chrome-home:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /home/chrome
  # chrome-cache:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /var/cache
  litestream:
    type: configMap
    name: litestream
    advancedMounts:
      karakeep:
        litestream-replicate:
          - path: /etc/litestream
        litestream-restore-db:
          - path: /etc/litestream
        litestream-restore-queue:
          - path: /etc/litestream
meilisearch:
  persistence:
    existingClaim: karakeep-meilisearch
sops:
  age:
    - recipient: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII7yyj/sVuDdc6kGEeipVtC0EBaeACTFWHZ9MH77XsFq vrtx@kaos
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNEQlRBdyAyK2VS
        cEYyUE9Ob1dsaWV0MVczY1JuK01ITUVjNzBkVTlYZEo3NytyR1J3CmpHSDNjVG5P
        ZDdyV0xkSjV1ODVqY2dvU2JIUGRWZGUvRXVqdTJEZWpXNWcKLS0tIFFvZWl5WVU1
        azhMWk12TUJBVUUzWTBwVTNnODlxZGViSkl6TkNWdTVwbHcKBjDVxvZBV5rjq7RV
        7mGgC3nQpr+zkOSxIqzVrvMTE3R1SlC707lD1mAJcKPqBulcR3hRH0CVzdKimWHn
        1k8OIA==
        -----END AGE ENCRYPTED FILE-----
    - recipient: age1kum4z0unkunza7kxt4ma7v8k38ggvtjhx6wntnjt8clt6xpyu3eqsw435t
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAralBRSXc5b1YxU2NrcHpa
        cmlsV1h4bElMM01Yb0JKUzZnMWxKaE5uRmlNCi9zelY0K3NkU0psUXE5ZlJRTE9l
        MjZRMzBIZVpBSysvVERWU09tNVhXQzQKLS0tIEZhYnF2VWZldmJ6QTh3YVNjVStm
        ais3eHRtMGNBbDFSNFlaWk1EVDd1cWMKoJxWujaT/AwRjeDnFVGtnWUU44JNCHmE
        X/wCOp6hIwr/89n95Otqmezb7rehlWHT/kxdCUa2RxS55R6wR/vshg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-12T16:29:04Z"
  mac: ENC[AES256_GCM,data:nz3h63qmiipWFXVJZW73M73vQB879vIP8emxh3PxjjN6IXRqf2kOou+Q1DB2Dj3p1YPxmH0qugOW5ZQZJbK1KXRuWBa3hZdgXrvtdOJ0i4thZuRgUtiMr/eL2hdZNHkzm5x7ggzExpsMcjUTIsw2ZaoapOzoaCmuw81mGKXyLEU=,iv:+aazN41CKpL5LHI3GWz2DJO8oAwzlQajtG0BKmpRLrs=,tag:oNXfUqtl5g6lnTWhi6QclQ==,type:str]
  encrypted_comment_regex: enc!
  version: 3.11.0
