#
# IMPORTANT NOTE
#
# This chart inherits from the bjw-s library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
#
applicationProtocol: https
applicationHost: holding.sophons.cloud
# enc!
applicationSecretKey: ENC[AES256_GCM,data:joDXkoXIa7+k9yjGYQrZWxeGRk/3YkSXYtXtopXLLWLBK9BuDzm/innb8qno7RSP,iv:Kb5FEJJkaHNVFU/9xKVzrS1bVCuwIYlQfGSAHc3h6EQ=,tag:l4cWY0AYYEjT61lDw5fHoA==,type:str]
# enc!
meilisearchMasterKey: ENC[AES256_GCM,data:hyjF728Msh+yodzPTFonwWEU1bZ0GQ3/pAVE479/,iv:sZnsY2czpyAD+MJSYG0ni91ez/U89ewJySn4x+CTkYc=,tag:eXGFHg5ZF90848jzMnhgHg==,type:str]
ingress:
  karakeep:
    enabled: false
controllers:
  karakeep:
    type: deployment
    strategy: Recreate
    statefulset:
      volumeClaimTemplates: []
    containers:
      karakeep:
        image:
          tag: 0.28.0
        # Next.js is a plague :(
        resources:
          requests:
            cpu: 150m
            memory: 300Mi
          limits:
            memory: 756Mi
        envFrom:
          - secretRef:
              name: '{{ .Release.Name }}'
          - secretRef:
              name: '{{ .Release.Name }}-meilesearch'
          - secretRef:
              name: hoarder-access-key
          - secretRef:
              name: karakeep-oauth
        env:
          DISABLE_SIGNUPS: "true"
          DB_WAL_MODE: "true"
          ASSET_STORE_S3_ENDPOINT: s3.eu-central-003.backblazeb2.com
          ASSET_STORE_S3_REGION: eu-central-003
          ASSET_STORE_S3_BUCKET: sophons-karakeep
          ASSET_STORE_S3_FORCE_PATH_STYLE: "true"
          OAUTH_WELLKNOWN_URL: https://auth.sophons.cloud/.well-known/openid-configuration
          OAUTH_CLIENT_ID: sphns_q1F-KFdfxuwpzFejpdac311zzc65t0eiT.X1Vu3mE5
          OAUTH_PROVIDER_NAME: Authelia
          OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
          # 15s
          OAUTH_TIMEOUT: "15000"
          OPENAI_API_KEY: clankerstudio
          # lmstudio on kaos
          OPENAI_BASE_URL: http://100.64.0.26:11433/v1
          INFERENCE_TEXT_MODEL: openai/gpt-oss-20b
          INFERENCE_IMAGE_MODEL: qwen/qwen3-vl-8b
          EMBEDDING_TEXT_MODEL: qwen/qwen3-embedding-4b
          INFERENCE_CONTEXT_LENGTH: "49152"
          INFERENCE_MAX_OUTPUT_TOKENS: "16384"
          INFERENCE_ENABLE_AUTO_TAGGING: "true"
          INFERENCE_ENABLE_AUTO_SUMMARIZATION: "true"
          # 2.5 minutes
          INFERENCE_JOB_TIMEOUT_SEC: "150"
          CRAWLER_FULL_PAGE_ARCHIVE: "true"
          # 3 minutes
          CRAWLER_JOB_TIMEOUT_SEC: "300"
          CRAWLER_SCREENSHOT_TIMEOUT_SEC: "60"
      litestream-replicate:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - replicate
          - -config=/etc/litestream/litestream.yaml
        envFrom:
          - secretRef:
              name: litestream-access-key
        ports:
          - name: metrics
            containerPort: 9090
      tailscale:
        image:
          repository: ghcr.io/tailscale/tailscale
          tag: v1.90.6
        envFrom:
          - secretRef:
              name: tailscale-base-config
          - secretRef:
              name: tailscale-ephemeral-auth
        env:
          - name: TS_EXTRA_ARGS
            value: $(TS_BASE_ARGS)
          - name: TS_TAILSCALED_EXTRA_ARGS
            value: $(TSD_BASE_ARGS)
          - name: TS_HOSTNAME
            value: karakeep
          - name: TS_USERSPACE
            value: "false"
        ports:
          - name: ts-metrics
            containerPort: 9002
        securityContext:
          privileged: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        liveness:
          enabled: true
          spec:
            initialDelaySeconds: 10
            httpGet:
              path: /healthz
              port: 9002
        readiness:
          enabled: true
          spec:
            initialDelaySeconds: 10
            httpGet:
              path: /healthz
              port: 9002
    initContainers:
      litestream-restore-db:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/db.db
        envFrom:
          - secretRef:
              name: litestream-access-key
      litestream-restore-queue:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/queue.db
        envFrom:
          - secretRef:
              name: litestream-access-key
  chrome:
    pod:
      nodeSelector:
        topology.kubernetes.io/region: ng
    containers:
      chrome:
        args:
          # FIXME: CHROME SANDBOX
          # - --no-sandbox
          - --remote-debugging-address=0.0.0.0
          - --remote-debugging-port=9222
          - --headless
          - --hide-scrollbars
          - --disable-gpu
          - --disable-dev-shm-usage
        securityContext:
          runAsNonRootUser: true
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            add:
              - SYS_ADMIN
          seccompProfile:
            type: RuntimeDefault
            # # TODO: WHY WON'T THIS SHIT WORK
            # seccompProfile:
            #   type: Localhost
            #   localhostProfile: profiles/chrome.json
        resources:
          requests:
            cpu: 100m
          limits:
            cpu: null
persistence:
  data:
    type: emptyDir
    advancedMounts:
      karakeep:
        karakeep:
          - path: /data
        litestream-replicate:
          - path: /data
        litestream-restore-db:
          - path: /data
        litestream-restore-queue:
          - path: /data
  # tailscale-state:
  #   type: emptyDir
  #   medium: Memory
  #   advancedMounts:
  #     karakeep:
  #       tailscale:
  #         - path: /var/lib/tailscale
  chrome-tmp:
    type: emptyDir
    advancedMounts:
      chrome:
        chrome:
          - path: /tmp
  chrome-home:
    type: emptyDir
    advancedMounts:
      chrome:
        chrome:
          - path: /home/chrome
  # chrome-cache:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /var/cache
  litestream:
    type: configMap
    name: litestream
    advancedMounts:
      karakeep:
        litestream-replicate:
          - path: /etc/litestream
        litestream-restore-db:
          - path: /etc/litestream
        litestream-restore-queue:
          - path: /etc/litestream
meilisearch:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi
  persistence:
    existingClaim: karakeep-meilisearch
sops:
  age:
    - recipient: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII7yyj/sVuDdc6kGEeipVtC0EBaeACTFWHZ9MH77XsFq vrtx@kaos
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNEQlRBdyBEL1VP
        ZENsbU1HSFNPQ2s3YXdKV0dTY25NNUYwMExNaHh6WnFuVlQ1WWdrClkzbTdDMlJE
        SDNsM3JMMllkRDVwWmhHdnkrRlFVWVJDSDV1QlhHbVdVTVUKLS0tIGRVYityVy90
        dlNKclo2VzJ1bnBBaVBQd2QzRlRKTjFuN3VrS1pQcXNRbzQKbbIA1JmN/vAa0ZFv
        WzpfR/wtR4FnVEtrAfqrMf6oAn7svUxD7Flth87kL52jduxHfWxM+x/xb1WyGhGb
        rn/Abg==
        -----END AGE ENCRYPTED FILE-----
    - recipient: age1kum4z0unkunza7kxt4ma7v8k38ggvtjhx6wntnjt8clt6xpyu3eqsw435t
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzdUpiUUVQOGI5UXh4TjQx
        dDFNZEVNV2lqbk9acDF1NGw3VVk4MGdMcWg4CnI2RlRKK1F3endTNXlJQm53K0RZ
        cUZQZTRYTVZNSS9yeGoyeitHZCtYV3cKLS0tIGJwWnZ1VStJUFZ0WE0xMXJJalUr
        THVONkx0S0tTR253ZkRINGZyd01jWUEKszJcuwVOVASdoeXF2kDm9CzhWpRdJyw3
        pPo58MtiveoZsWc5g/HaNVbFjGFz+ongJaTgZMujvWEa4RV/QovJbQ==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-01T19:49:12Z"
  mac: ENC[AES256_GCM,data:dsTZvYIT89YwfA1Ef51uOqyPd/px/DxE5+9rWqRxFY5StaudIit6Ds4LdZE4st4M2fxd+b2HTI21s6Yyxm9n8qou+HVjV91BZ1TVKae1k2Caw7SCmNWYNtJnbvXKs0d6fqUXbOElH0fWlrGLFXf1clmzC9btpGsxSy/crjxaGbM=,iv:Z4o79dCIrUydmsaW20lxYksfipEG08rcRxOf8loUrco=,tag:nuHBgb90jnXd3T08b43DJQ==,type:str]
  encrypted_comment_regex: enc!
  version: 3.11.0
