#
# IMPORTANT NOTE
#
# This chart inherits from the bjw-s library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
#
applicationProtocol: https
applicationHost: holding.sophons.cloud
# enc!
applicationSecretKey: ENC[AES256_GCM,data:BmWA1CB3ii3e237fO9xiH3bSF4rMgGpvr7KExqejbWTS8r+DTFJUXwRXsq6/u31v,iv:MBf316O9hUoiBWW74tNzhGsi0ib4DKE0oGbea+h3pBw=,tag:1SeNSkwJ/0OM62GwBHL7Uw==,type:str]
# enc!
meilisearchMasterKey: ENC[AES256_GCM,data:HBZajqKBNoj8xU3oPeHJsphMZHUwMx81cwap/7vq,iv:HkF8dDNDIlxsScJEeOQOLEsAdQlxQBZEh/FeHHPrsJk=,tag:IaRSQqNZ6gaR5opGW/lK0g==,type:str]
ingress:
  karakeep:
    annotations:
      gethomepage.dev/description: Hoard all the things!
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Second brain
      gethomepage.dev/icon: karakeep.png
      gethomepage.dev/name: Karakeep
      external-dns.alpha.kubernetes.io/target: traefik-star-theta.sophons.cloud
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - hosts:
          - '*.sophons.cloud'
        secretName: karakeep-tls
controllers:
  karakeep:
    statefulset:
      volumeClaimTemplates: []
    containers:
      karakeep:
        image:
          tag: 0.28.0
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            # Next.js is a plague :(
            cpu: 750m
            memory: 756Mi
        envFrom:
          - secretRef:
              name: '{{ .Release.Name }}'
          - secretRef:
              name: '{{ .Release.Name }}-meilesearch'
          - secretRef:
              name: hoarder-access-key
          - secretRef:
              name: karakeep-oauth
        env:
          DISABLE_SIGNUPS: "true"
          DB_WAL_MODE: "true"
          ASSET_STORE_S3_ENDPOINT: s3.eu-central-003.backblazeb2.com
          ASSET_STORE_S3_REGION: eu-central-003
          ASSET_STORE_S3_BUCKET: sophons-karakeep
          ASSET_STORE_S3_FORCE_PATH_STYLE: "true"
          OAUTH_WELLKNOWN_URL: https://auth.sophons.cloud/.well-known/openid-configuration
          OAUTH_CLIENT_ID: OL.LOB-j9of8ut9bmhjN~sEddOQGQYABpcZZHCUYaagHzi6Xl76kxcZgCNPaE2NI4JzXttD4
          OAUTH_PROVIDER_NAME: Authelia
          OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
      litestream-replicate:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - replicate
          - -config=/etc/litestream/litestream.yaml
        envFrom:
          - secretRef:
              name: litestream-access-key
        ports:
          - name: metrics
            containerPort: 9090
    initContainers:
      litestream-restore-db:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/db.db
        envFrom:
          - secretRef:
              name: litestream-access-key
      litestream-restore-queue:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/queue.db
        envFrom:
          - secretRef:
              name: litestream-access-key
  chrome:
    pod:
      nodeSelector:
        topology.kubernetes.io/region: ng
    containers:
      chrome:
        securityContext:
          seccompProfile:
            type: Localhost
            localhostProfile: profiles/chrome.json
        resources:
          requests:
            cpu: 100m
persistence:
  data:
    type: emptyDir
    advancedMounts:
      karakeep:
        karakeep:
          - path: /data
        litestream-replicate:
          - path: /data
        litestream-restore-db:
          - path: /data
        litestream-restore-queue:
          - path: /data
  # chrome-tmp:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /tmp
  # chrome-home:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /home/chrome
  # chrome-cache:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /var/cache
  litestream:
    type: configMap
    name: litestream
    advancedMounts:
      karakeep:
        litestream-replicate:
          - path: /etc/litestream
        litestream-restore-db:
          - path: /etc/litestream
        litestream-restore-queue:
          - path: /etc/litestream
meilisearch:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  persistence:
    existingClaim: karakeep-meilisearch
sops:
  age:
    - recipient: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII7yyj/sVuDdc6kGEeipVtC0EBaeACTFWHZ9MH77XsFq vrtx@kaos
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNEQlRBdyB5ZTEx
        RXZiY1lZK1JBWUNzcjZ2UVVuSXphVFdrckNKY0JTeUVZU1RhL2xJClA5QnlMNXB1
        aVB4MU5KYnd4SmlERjRHZHIxYkFxTjdydkExSDlxVmJoTkUKLS0tIGdWbndZTWVo
        cXo1dytaaWxnZXBWMEFsaTc4TzUycGh5WjJQblQrWnF5ajAKrUBvaqbK3t6CFOB/
        FHeEzQhaSeTaP/wA86VOrwWR3VL0dLigq+Ft5g21OFkc2bvp3wziELKTc22/pqkS
        r7Xc5g==
        -----END AGE ENCRYPTED FILE-----
    - recipient: age1kum4z0unkunza7kxt4ma7v8k38ggvtjhx6wntnjt8clt6xpyu3eqsw435t
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBmZTVEWXF6aTA1cTFLSmtG
        RHkyRGhydThiMVIwOXMwbUo2elZZZnM3ZFRvCmc2a3RabG5VVlQ3c0VIbUs3OEMz
        bVlpZmlmMzFXZmovRWVNWVdxeE9vM3cKLS0tIGRYSzdTUW5SS0R5SC9tRkZTRnM1
        Q0lDYjdHc3dwWi9ZQmQzQmM1VWtobGMKjB3lIa8qNstHDtxPVhNGUTqK05VmFOSi
        g/f4cJPNIATWfEdIEUAbnYn/wxkEb9U5EcxGDIPqdwIPtT3LKts5Sg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-13T02:41:07Z"
  mac: ENC[AES256_GCM,data:suphbCuejcfaNflhchkZ8Ea1tQxCwvtza/eExa15Uv5r3Q+B0WO9poI8Lzd8Fvo/IRz31zzV7mj9tkRbGmBeaGoJqOAettIaRrJPUf5QI1yvA7Xoyj0gPTN6owHGthSW56Z5MiuvPZTmqlOotqRndbHW5SUL2GeIBStELYs1/DU=,iv:f9+7w1LwBw/deI0+OwDwtU/wn6J8Zi7gGydxF8qdbpw=,tag:GUpZTCVDSauiXCehC/dtyw==,type:str]
  encrypted_comment_regex: enc!
  version: 3.11.0
