#
# IMPORTANT NOTE
#
# This chart inherits from the bjw-s library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
#
applicationProtocol: https
applicationHost: holding.sophons.cloud
# enc!
applicationSecretKey: ENC[AES256_GCM,data:h9+2DQdzb8aqwoLgO2ViRgMx/3LQFJmN8/8iSc8YQeHIZkjNKirmNNgUQNc89kF1,iv:OHCg1JGrNbtPDvcvQfFry16kJxwYZWlffoN3ob18GUU=,tag:kwJN94z64hQR3PdK6tplbw==,type:str]
# enc!
meilisearchMasterKey: ENC[AES256_GCM,data:XrERx+gKpTAK1y798U/fndpnR0Kfl86VBJs3TOq7,iv:mhggI5dooOVFoY4EvEx166KAQ5odO0RG5zzvc5ql0Cg=,tag:4HRk2pGxWmnm++zVI+359A==,type:str]
ingress:
  karakeep:
    annotations:
      gethomepage.dev/description: Hoard all the things!
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Second brain
      gethomepage.dev/icon: karakeep.png
      gethomepage.dev/name: Karakeep
      external-dns.alpha.kubernetes.io/target: traefik-sango-star-theta.sophons.cloud
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - hosts:
          - '*.sophons.cloud'
        secretName: karakeep-tls
controllers:
  karakeep:
    type: deployment
    strategy: Recreate
    statefulset:
      volumeClaimTemplates: []
    containers:
      karakeep:
        image:
          tag: 0.28.0
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            # Next.js is a plague :(
            cpu: 850m
            memory: 756Mi
        envFrom:
          - secretRef:
              name: '{{ .Release.Name }}'
          - secretRef:
              name: '{{ .Release.Name }}-meilesearch'
          - secretRef:
              name: hoarder-access-key
          - secretRef:
              name: karakeep-oauth
        env:
          DISABLE_SIGNUPS: "true"
          DB_WAL_MODE: "true"
          ASSET_STORE_S3_ENDPOINT: s3.eu-central-003.backblazeb2.com
          ASSET_STORE_S3_REGION: eu-central-003
          ASSET_STORE_S3_BUCKET: sophons-karakeep
          ASSET_STORE_S3_FORCE_PATH_STYLE: "true"
          OAUTH_WELLKNOWN_URL: https://auth.sophons.cloud/.well-known/openid-configuration
          OAUTH_CLIENT_ID: OL.LOB-j9of8ut9bmhjN~sEddOQGQYABpcZZHCUYaagHzi6Xl76kxcZgCNPaE2NI4JzXttD4
          OAUTH_PROVIDER_NAME: Authelia
          OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
          # 15s
          OAUTH_TIMEOUT: "15000"
          OPENAI_API_KEY: clankerstudio
          # lmstudio on kaos
          OPENAI_BASE_URL: http://100.64.0.26:11433/v1
          INFERENCE_TEXT_MODEL: openai/gpt-oss-20b
          INFERENCE_IMAGE_MODEL: qwen/qwen3-vl-8b
          EMBEDDING_TEXT_MODEL: qwen/qwen3-embedding-4b
          INFERENCE_CONTEXT_LENGTH: "49152"
          INFERENCE_MAX_OUTPUT_TOKENS: "16384"
          INFERENCE_ENABLE_AUTO_TAGGING: "true"
          INFERENCE_ENABLE_AUTO_SUMMARIZATION: "true"
          # 2.5 minutes
          INFERENCE_JOB_TIMEOUT_SEC: "150"
          CRAWLER_FULL_PAGE_ARCHIVE: "true"
          # 3 minutes
          CRAWLER_JOB_TIMEOUT_SEC: "300"
          CRAWLER_SCREENSHOT_TIMEOUT_SEC: "60"
      litestream-replicate:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - replicate
          - -config=/etc/litestream/litestream.yaml
        envFrom:
          - secretRef:
              name: litestream-access-key
        ports:
          - name: metrics
            containerPort: 9090
      tailscale:
        image:
          repository: ghcr.io/tailscale/tailscale
          tag: v1.90.6
        envFrom:
          - secretRef:
              name: tailscale-ephemeral-auth
        env:
          - name: TS_EXTRA_ARGS
            value: $(TS_BASE_ARGS)
          - name: TS_TAILSCALED_EXTRA_ARGS
            value: $(TSD_BASE_ARGS)
          - name: TS_HOSTNAME
            value: karakeep
          - name: TS_USERSPACE
            value: "false"
        ports:
          - name: ts-metrics
            containerPort: 9002
        securityContext:
          privileged: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        liveness:
          enabled: true
          spec:
            initialDelaySeconds: 10
            httpGet:
              path: /healthz
              port: 9002
        readiness:
          enabled: true
          spec:
            initialDelaySeconds: 10
            httpGet:
              path: /healthz
              port: 9002
    initContainers:
      litestream-restore-db:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/db.db
        envFrom:
          - secretRef:
              name: litestream-access-key
      litestream-restore-queue:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.2
        args:
          - restore
          - -config=/etc/litestream/litestream.yaml
          - -if-db-not-exists
          - -if-replica-exists
          - /data/queue.db
        envFrom:
          - secretRef:
              name: litestream-access-key
  chrome:
    pod:
      nodeSelector:
        topology.kubernetes.io/region: ng
    containers:
      chrome:
        args:
          # FIXME: CHROME SANDBOX
          - --no-sandbox
          - --remote-debugging-address=0.0.0.0
          - --remote-debugging-port=9222
          - --headless
          - --hide-scrollbars
          - --disable-gpu
          - --disable-dev-shm-usage
        securityContext:
          capabilities:
            drop:
              - ALL
            add: []
          seccompProfile:
            type: RuntimeDefault
        # TODO: WHY WON'T THIS SHIT WORK
        # seccompProfile:
        #   type: Localhost
        #   localhostProfile: profiles/chrome.json
        resources:
          requests:
            cpu: 100m
persistence:
  data:
    type: emptyDir
    advancedMounts:
      karakeep:
        karakeep:
          - path: /data
        litestream-replicate:
          - path: /data
        litestream-restore-db:
          - path: /data
        litestream-restore-queue:
          - path: /data
  # tailscale-state:
  #   type: emptyDir
  #   medium: Memory
  #   advancedMounts:
  #     karakeep:
  #       tailscale:
  #         - path: /var/lib/tailscale
  # chrome-tmp:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /tmp
  # chrome-home:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /home/chrome
  # chrome-cache:
  #   type: emptyDir
  #   advancedMounts:
  #     chrome:
  #       chrome:
  #         - path: /var/cache
  litestream:
    type: configMap
    name: litestream
    advancedMounts:
      karakeep:
        litestream-replicate:
          - path: /etc/litestream
        litestream-restore-db:
          - path: /etc/litestream
        litestream-restore-queue:
          - path: /etc/litestream
meilisearch:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi
  persistence:
    existingClaim: karakeep-meilisearch
sops:
  age:
    - recipient: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII7yyj/sVuDdc6kGEeipVtC0EBaeACTFWHZ9MH77XsFq vrtx@kaos
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNEQlRBdyB0b3RQ
        L2crWHUxWFQ2alptWEQ2QWxzaE16RUlDalJ3RjRwYTB1WHl2TUFjCkJid2lBdFJi
        ZGtzeFJQMzA0RTY1Z0hKcWQ4T1MyTUlLdlBXeEs1YzVmd3MKLS0tIGxSVzJuN2Qv
        Z21TT0FmYmtCSzIzTUVjSE9yTndjWnFFS2VNeDZ6d0k4M0EKusO776/a6gzL7vua
        JTlrZerBGBKGujuOgO1nRKG1HTvJfnPBDz8A0l+YFmW3YUohWoSpI8L6f049oiQA
        annb3Q==
        -----END AGE ENCRYPTED FILE-----
    - recipient: age1kum4z0unkunza7kxt4ma7v8k38ggvtjhx6wntnjt8clt6xpyu3eqsw435t
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBnREt0enB3T08wSWU4ZmlF
        aXNMT3VreFpqeWJRNFphQW5QQTFwUkt3TUJBCmdaNDh4bk1PS1Nhdmgrdi9hME1Y
        cDBkRStGZTgyam9PbWlGVzJYem4yT28KLS0tIEpWWkY1WUN2MWhDbVJpd3IyQ0tJ
        bkRhaC9lc3hMcGQ1aXliWE1zbkNZRHcKCjxODGewYlBoL/PmZlgPTUMa7FI/a1v2
        IHwRthE6xEUgC0g1YZbXHd1lSGBbIwzI1uveEGDMiJLq83gR3p+2iA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-14T10:32:32Z"
  mac: ENC[AES256_GCM,data:/fv4zZbUjo9yQ9rUUPL/lKC8Tobkn26wNDoKajDPBhxlv7NJ8MJT/tu548BXEWWN4XqNlTOugMk0K3ouA9/zU9jxrTfIfO8YRg3UnTF8YeFr9dnI2szaM9yFwMCw98LEz++VWfAYmFWZSlXhuInktFW4bBZ2g3YUweaqT+PgbOs=,iv:ho3LFg8LtSwqe6ynQJvIWWLeEkYnnpEGyH0zzKbwjA4=,tag:EGRgbNVEeBqBgftVaQGVAg==,type:str]
  encrypted_comment_regex: enc!
  version: 3.11.0
