apiVersion: traefik.io/v1alpha1
kind: TraefikService
metadata:
  name: homepage
  namespace: homepage
spec:
  weighted:
    services:
      - name: homepage
        port: 3000
        weight: 1
    sticky:
      cookie:
        httpOnly: true
        secure: true
        sameSite: none
