global
  log stdout format raw local0
  maxconn 512

defaults
  mode tcp

  log global
  option tcplog
  option logasap

  timeout client 1h
  timeout server 1h
  timeout connect 15s

  option clitcpka
  clitcpka-idle 30s
  clitcpka-intvl 30s

  option srvtcpka
  srvtcpka-idle 30s
  srvtcpka-intvl 30s

frontend proxy
  bind [::]:7446 v4v6 tcp-ut 30000
  default_backend kubeprism

backend kubeprism
  default-server tcp-ut 30000
  server kubeprism 127.0.0.1:7445
