# yaml-language-server: $schema=https://github.com/yannh/kubernetes-json-schema/raw/refs/heads/master/v1.34.1/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ntfy
  namespace: ntfy
  labels:
    app.kubernetes.io/name: ntfy
spec:
  strategy:
    type: Recreate
  replicas: 1

  selector:
    matchLabels:
      app.kubernetes.io/name: ntfy
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ntfy
    spec:
      tolerations:
        - key: prime.sophons.cloud
          operator: Exists
        - key: "orunmila.sophons.cloud/ase-orun"
          operator: Exists

      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 10
              preference:
                matchExpressions:
                  - key: topology.kubernetes.io/zone
                    operator: NotIn
                    # avoid running inside me house if possible
                    values: [ng-east-1, ng-east-2, ng-middle-east]

      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

      containers:
        - name: ntfy
          image: binwiederhier/ntfy
          args: ["serve", "--config=/etc/ntfy/server.yaml"]
          ports:
            - containerPort: 80
              name: http
          volumeMounts:
            - name: config
              mountPath: "/etc/ntfy"
              readOnly: true
            - name: ntfy
              mountPath: "/var/lib/ntfy"
          envFrom:
            - secretRef:
                name: ntfy
          resources:
            requests:
              cpu: 50m
              memory: 30Mi
            limits:
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]

        - name: lightstream-replicate
          image: docker.io/litestream/litestream:0.5.2
          args: ["replicate", "-config=/etc/litestream/litestream.yaml"]
          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: LITESTREAM_SYNC_INTERVAL
              value: "1s"
          ports:
            - name: metrics
              containerPort: 9090
          volumeMounts:
            - name: ntfy
              mountPath: "/var/lib/ntfy"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]

      initContainers:
        - name: lightstream-restore-cache
          image: docker.io/litestream/litestream:0.5.2
          args:
            [
              "restore",
              "-config=/etc/litestream/litestream.yaml",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/var/lib/ntfy/cache.db",
            ]
          envFrom:
            - secretRef:
                name: litestream-access-key
          volumeMounts:
            - name: ntfy
              mountPath: "/var/lib/ntfy"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]

        - name: lightstream-restore-webpush
          image: docker.io/litestream/litestream:0.5.2
          args:
            [
              "restore",
              "-config=/etc/litestream/litestream.yaml",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/var/lib/ntfy/webpush.db",
            ]
          envFrom:
            - secretRef:
                name: litestream-access-key
          volumeMounts:
            - name: ntfy
              mountPath: "/var/lib/ntfy"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]

      volumes:
        - name: config
          configMap:
            name: ntfy
        - name: ntfy
          emptyDir: {}
        - name: litestream
          configMap:
            name: litestream
