# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ntfy
  namespace: ntfy
  labels:
    app.kubernetes.io/name: ntfy
spec:
  strategy:
    type: Recreate
  replicas: 1

  selector:
    matchLabels:
      app.kubernetes.io/name: ntfy
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ntfy
    spec:
      containers:
        - name: ntfy
          image: binwiederhier/ntfy
          args: ["serve", "--config=/etc/ntfy/server.yaml"]
          ports:
            - containerPort: 80
              name: http
          volumeMounts:
            - name: config
              mountPath: "/etc/ntfy"
              readOnly: true
            - name: ntfy
              mountPath: "/var/lib/ntfy"
          envFrom:
            - secretRef:
                name: ntfy

        - name: lightstream-replicate
          image: docker.io/litestream/litestream:0.5.2
          args: ["replicate", "-config=/etc/litestream/litestream.yaml"]
          envFrom:
            - secretRef:
                name: litestream-access-key
          env:
            - name: LITESTREAM_SYNC_INTERVAL
              value: "1s"
          ports:
            - name: metrics
              containerPort: 9090
          volumeMounts:
            - name: ntfy
              mountPath: "/var/lib/ntfy"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

      initContainers:
        - name: lightstream-restore-cache
          image: docker.io/litestream/litestream:0.5.2
          args:
            [
              "restore",
              "-config=/etc/litestream/litestream.yaml",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/var/lib/ntfy/cache.db",
            ]
          envFrom:
            - secretRef:
                name: litestream-access-key
          volumeMounts:
            - name: ntfy
              mountPath: "/var/lib/ntfy"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

        - name: lightstream-restore-webpush
          image: docker.io/litestream/litestream:0.5.2
          args:
            [
              "restore",
              "-config=/etc/litestream/litestream.yaml",
              "-if-db-not-exists",
              "-if-replica-exists",
              "/var/lib/ntfy/webpush.db",
            ]
          envFrom:
            - secretRef:
                name: litestream-access-key
          volumeMounts:
            - name: ntfy
              mountPath: "/var/lib/ntfy"
            - name: litestream
              mountPath: "/etc/litestream"
              readOnly: true

      volumes:
        - name: config
          configMap:
            name: ntfy
        - name: ntfy
          emptyDir: {}
        - name: litestream
          configMap:
            name: litestream
