# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: haproxy-sango
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: haproxy-sango
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: traefik
      app.kubernetes.io/component: haproxy-sango
  template:
    metadata:
      labels:
        app.kubernetes.io/name: traefik
        app.kubernetes.io/component: haproxy-sango
      annotations:
        external-dns.alpha.kubernetes.io/hostname: |
          traefik-sango.sophons.cloud, traefik-sango-star-theta.sophons.cloud
        # enc!
        external-dns.alpha.kubernetes.io/target: ENC[AES256_GCM,data:K8x4A2HxTSpFzeZZMgQ=,iv:i8U04ATnuk/RhdZ+MrldVf9q2IlPTBxgbDsAxRfv+Go=,tag:+rysjfZHVIusxheQr7QDgg==,type:str]
    spec:
      tolerations:
        - key: orunmila.sophons.cloud/ase-orun
          operator: Exists
      containers:
        - name: proxy
          image: haproxy:3.2.8-alpine3.22
          args:
            - -f
            - /etc/haproxy/haproxy.cfg
          volumeMounts:
            - mountPath: /etc/haproxy
              name: haproxy
              readOnly: true
          ports:
            - containerPort: 22
              name: ssh
              hostPort: 22
            - containerPort: 80
              name: http
              hostPort: 80
            - containerPort: 443
              name: https
              hostPort: 443
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 128Mi
      volumes:
        - name: haproxy
          configMap:
            name: haproxy
      nodeSelector:
        kubernetes.io/hostname: sophons-oduduwa
sops:
  age:
    - recipient: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII7yyj/sVuDdc6kGEeipVtC0EBaeACTFWHZ9MH77XsFq vrtx@kaos
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNEQlRBdyByeHhy
        WVVGaDd1NmRXQ1Nsc2VYUUF0bTFGbFVRcERFMTh5Z2x6aXFuZzA4ClBCTmc3eU4r
        L2Fxd3p6K3BSZW5TYUFveVV6NXZPS1hZeTVkWUUzSTlCdkEKLS0tIGNEVjdZV1Vu
        bUp3TWhMRnhROWZyZE1sUVlrWnZPbGFsNENtS2lsUjBlZTAKdZzzjdbMO79psQAA
        VQT1ktXkleFx2tJbtRAGabm/vGPtVFeaCasfXPsVTzZjGVh5GzBfDhwEFHwc6YCY
        +7SWzw==
        -----END AGE ENCRYPTED FILE-----
    - recipient: age1kum4z0unkunza7kxt4ma7v8k38ggvtjhx6wntnjt8clt6xpyu3eqsw435t
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5dUJlVEcxNGdkamxUaVRF
        NSttTXdEdXdXVjBPQmhWUEw3U0tSMHhvdDBnCnU3c3lBY2EraWZqUzB1c0tRRHJ1
        aTRmYitjY0VSdnFkaVpyWHBCRkJ0bmcKLS0tIFp2aHpXa0tCU0hGM3krQlNSZkgw
        S3duMldMMmtBVlp4dEpTK0xuRDhvYlUKe4rN3g/afBNMwW0I1u2utybjZUpGHtDY
        q6iWWUhTNxqlNRNSwOkRKsBHaX8Vur+Qy2MiB0jwgacqcXcSBZMbvQ==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-18T13:01:52Z"
  mac: ENC[AES256_GCM,data:ny9xiZVSylMdeC/KKXH5haoDZhUUVIQSFl/pHNWM2nr2RVLVgYs4PH90A9ZaFPtSqkTDTGgTuC12WihPBwVFU0Tus2P2MwbXusAh0hTgzJnKNc3o+Ps7h+amSBZzYyruAyRWVf5TklGHF4w1HobjSM8aYmR+ZT+9uIsJ3/szJ9Y=,iv:fTLVkAQhWmJthEDgHpCy1hIfmm0LFTqWnLekZmwk/Yg=,tag:C/v5NW7IzjYVbaQwrATacw==,type:str]
  encrypted_comment_regex: enc!
  version: 3.11.0
