# yaml-language-server: $schema=https://github.com/yannh/kubernetes-json-schema/raw/refs/heads/master/v1.34.1/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: haproxy-sango
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: haproxy-sango
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: traefik
      app.kubernetes.io/component: haproxy-sango
  template:
    metadata:
      labels:
        app.kubernetes.io/name: traefik
        app.kubernetes.io/component: haproxy-sango
      annotations:
        external-dns.alpha.kubernetes.io/hostname: |
          traefik-sango.sophons.cloud, traefik-sango-star-theta.sophons.cloud
        # enc!
        external-dns.alpha.kubernetes.io/target: ENC[AES256_GCM,data:NRGoDYOvgwYaSg6yQ/k=,iv:P3xRHXm734KVNbQ4jMW2H248AWgKjB8HqxyIvQeQqek=,tag:g5Q0su5eMG8+nQp2MbQ2/A==,type:str]
    spec:
      tolerations:
        - key: orunmila.sophons.cloud/ase-orun
          operator: Exists
        - key: node.kubernetes.io/memory-pressure
          operator: Exists
      containers:
        - name: proxy
          image: haproxy:3.2.8-alpine3.22
          # override the entrypoint preprending extra args
          # which shouldn't be happening but idk
          command:
            - sh
            - -c
            - haproxy -db -f /etc/haproxy/haproxy.cfg
          volumeMounts:
            - mountPath: /etc/haproxy
              name: haproxy
              readOnly: true
          ports:
            - containerPort: 22
              name: ssh
              hostPort: 22
            - containerPort: 80
              name: http
              hostPort: 80
            - containerPort: 443
              name: https
              hostPort: 443
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
            limits:
              memory: 100Mi
      volumes:
        - name: haproxy
          configMap:
            name: haproxy
      nodeSelector:
        kubernetes.io/hostname: sophons-oduduwa
sops:
  age:
    - recipient: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII7yyj/sVuDdc6kGEeipVtC0EBaeACTFWHZ9MH77XsFq vrtx@kaos
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IHNzaC1lZDI1NTE5IDNEQlRBdyAvbzN3
        NDJyRDk5UEFzRjVzOWp2NnN2Ty9IQzBhelRzaGdFdmdMSTl2RTNNCk9SbFJpRmda
        NXkxSVRvNWJPU0VwN1NJZDBzOG5KSXppV0liS1hsRitOMjQKLS0tIDNZYVY0dCtN
        eHY2MkczakMxNTMraVJtd281bDQrb3QzWTRjWkNqVDViUncKEAzc2kLCN3s+IWXA
        mf/l/osLVZ1uSspp+FXmVfHV3cLXbVUhByjdM2Et3NE3lsieOVep8b0euIFVDwBD
        bmBhoA==
        -----END AGE ENCRYPTED FILE-----
    - recipient: age1kum4z0unkunza7kxt4ma7v8k38ggvtjhx6wntnjt8clt6xpyu3eqsw435t
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzVE1nS1EyWldRTzJteDha
        ZU10QWlMVXBOaWFyL2EvNzM2cWh1QXZOTlFjCkVNNHcvRzYzYWRqVWZmOFlzZnpO
        YWUyc01rRXZtZTQwVXpzckJXc0RYL0UKLS0tIFpXL2ZTblBrQkFKbXVNQ3lRYkpZ
        NjBRUzVVaW9abTdXKzNmcnNqSDNUNmsKPvnyO313yjtUW0XPJ+q1HU4pRGj2AguC
        0TT/8di4sRPAGiKXicRkbqWggCGY2DHj5Ri6etJE3jkHANOiQ0FWxA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-20T00:56:56Z"
  mac: ENC[AES256_GCM,data:1KqSy5n4zG24HFD9tCw0AjLJv/OtSZuz7P88YlBm+GJdxeaEeAyoHrk1VkBl+MMyCEUK1iBEz4lJeHFNj/RPfWNs24oCMoF7EodlQgDPHvBSZ1OTuv1hcGDar6A9kGxJ7jksynEWvhmW4sxT+WwPCdoLn/rvMYYBhNkWoGuIJ5g=,iv:VT62KgW9b0ZHc2sE4KjOK8zPq7T7J71kuv3QdfPSltU=,tag:b4mU5XZuPL3UHv0FkXciiA==,type:str]
  encrypted_comment_regex: enc!
  version: 3.11.0
