logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

ingressRoute:
  dashboard:
    enabled: true

ports:
  traefik:
    expose:
      internal: true

  web:
    port: 80
    expose:
      internal: true
      kaos: true
      starlink: true
      theta: true
    forwardedHeaders:
      trustedIPs:
        # Cloudflare
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32

  websecure:
    port: 443
    expose:
      internal: true
      kaos: true
      starlink: true
      theta: true
    forwardedHeaders:
      trustedIPs:
        # Cloudflare
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32

service:
  enabled: true
  type: ClusterIP
  spec:
    internalTrafficPolicy: Local

  additionalServices:
    internal:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: internal
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-internal.sophons.cloud
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      spec:
        trafficDistribution: PreferSameZone
        externalTrafficPolicy: Local
    kaos:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: kaos
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-kaos.sophons.cloud
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      spec:
        trafficDistribution: PreferSameZone
        externalTrafficPolicy: Local
    starlink:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: starlink
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-starlink.sophons.cloud,
          traefik-star-theta.sophons.cloud
      spec:
        ipFamilies: ["IPv6"]
        trafficDistribution: PreferSameZone
        externalTrafficPolicy: Local
    theta:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: theta
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-theta.sophons.cloud,
          traefik-star-theta.sophons.cloud
      spec:
        ipFamilies: ["IPv6"]
        trafficDistribution: PreferSameZone
        externalTrafficPolicy: Local

providers:
  kubernetesCRD:
    nativeLBByDefault: true
  kubernetesIngress:
    nativeLBByDefault: true
  kubernetesGateway:
    enabled: true
    nativeLBByDefault: true

gateway:
  listeners:
    web: # HTTP listener that matches entryPoint `web`
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All

deployment:
  kind: DaemonSet

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "250m"
    memory: "256Mi"

tolerations:
  - key: orunmila.sophons.cloud/ase-orun
    operator: Exists
