logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

ingressRoute:
  dashboard:
    enabled: true

ports:
  traefik:
    expose:
      internal: true

  web:
    port: 80
    expose:
      internal: true
      starlink: true
      theta: true
    forwardedHeaders:
      trustedIPs:
        # Cloudflare
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32

  websecure:
    port: 443
    expose:
      internal: true
      starlink: true
      theta: true
    forwardedHeaders:
      trustedIPs:
        # Cloudflare
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32

service:
  enabled: false
  additionalServices:
    internal:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: internal
        external-dns.alpha.kubernetes.io/hostname: traefik-internal.kaos.nexus
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      spec:
        trafficDistribution: PreferSameZone
        externalTrafficPolicy: Local
    starlink:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: starlink
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-starlink.kaos.nexus,
          traefik-star-theta.kaos.nexus
      spec:
        ipFamilies: ["IPv6"]
        trafficDistribution: PreferSameZone
        externalTrafficPolicy: Local
    theta:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: theta
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-theta.kaos.nexus,
          traefik-star-theta.kaos.nexus
      spec:
        ipFamilies: ["IPv6"]
        trafficDistribution: PreferSameZone
        externalTrafficPolicy: Local

providers:
  kubernetesCRD:
    nativeLBByDefault: true
  kubernetesIngress:
    nativeLBByDefault: true
  kubernetesGateway:
    enabled: true
    nativeLBByDefault: true

gateway:
  listeners:
    web: # HTTP listener that matches entryPoint `web`
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All

deployment:
  kind: DaemonSet

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "250m"
    memory: "256Mi"

# autoscaling:
#   enabled: true
#   maxReplicas: 8
#   minReplicas: 4
#   metrics:
#     - type: Resource
#       resource:
#         name: cpu
#         target:
#           type: Utilization
#           averageUtilization: 80

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 1
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: '{{ template "traefik.name" . }}'
              app.kubernetes.io/instance: '{{ .Release.Name }}-{{ include "traefik.namespace" . }}'
          topologyKey: kubernetes.io/hostname
