logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

ingressRoute:
  dashboard:
    enabled: true

ports:
  traefik:
    expose:
      internal: true
  web:
    port: 80
    expose:
      internal: true
      # starlink: true
      # theta: true
  websecure:
    port: 443
    expose:
      starlink: true
      theta: true

service:
  enabled: false
  additionalServices:
    internal:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: internal
      spec:
        trafficDistribution: PreferSameZone
    starlink:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: starlink
      ipFamilies: ["IPv6"]
      spec:
        trafficDistribution: PreferSameZone
    theta:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: theta
      ipFamilies: ["IPv6"]
      spec:
        trafficDistribution: PreferSameZone

providers:
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web: # HTTP listener that matches entryPoint `web`
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All

deployment:
  replicas: null

resources:
  requests:
    cpu: "50m"
    memory: "50Mi"
  limits:
    cpu: "150m"
    memory: "128Mi"

autoscaling:
  enabled: true
  maxReplicas: 6
  minReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
