# yaml-language-server: $schema=https://github.com/traefik/traefik-helm-chart/raw/refs/tags/v37.3.0/traefik/values.schema.json

cfIPs: &cfIPs
  - 127.0.0.0/8 # lokalhost
  - ::1/128
  - 10.41.0.0/16 # kluster
  - 2001:cafe:41::/56
  - 173.245.48.0/20 # Cloudflare
  - 103.21.244.0/22
  - 103.22.200.0/22
  - 103.31.4.0/22
  - 141.101.64.0/18
  - 108.162.192.0/18
  - 190.93.240.0/20
  - 188.114.96.0/20
  - 197.234.240.0/22
  - 198.41.128.0/17
  - 162.158.0.0/15
  - 104.16.0.0/13
  - 104.24.0.0/14
  - 172.64.0.0/13
  - 131.0.72.0/22
  - 2400:cb00::/32
  - 2606:4700::/32
  - 2803:f800::/32
  - 2405:b500::/32
  - 2405:8100::/32
  - 2a06:98c0::/29
  - 2c0f:f248::/32

logs:
  general:
    # TCP/UDP connection logs only happen at the debug level
    level: DEBUG
    noColor: true
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

ingressRoute:
  dashboard:
    enabled: true

ports:
  traefik:
    port: 8080
    expose:
      internal: true
      kaos: true

  web:
    port: 80
    hostPort: 80
    expose:
      internal: true
      kaos: true
      starlink: true
      theta: true
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
    middlewares:
      []
      # - crowdsec-crowdsec-bouncer@kubernetescrd

    proxyProtocol:
      trustedIPs: *cfIPs

    forwardedHeaders:
      trustedIPs: *cfIPs

  websecure:
    port: 443
    hostPort: 443
    expose:
      internal: true
      kaos: true
      starlink: true
      theta: true
    transport:
      respondingTimeouts:
        # uploading blobs to gitea etc can take a while
        # thanks [fuck-all]mbps upload internet.
        readTimeout: 300
    middlewares:
      []
      # - crowdsec-crowdsec-bouncer@kubernetescrd

    proxyProtocol:
      trustedIPs: *cfIPs

    forwardedHeaders:
      trustedIPs: *cfIPs

  ssh:
    port: 22
    hostPort: 22
    expose:
      default: true
      internal: true
      kaos: true
      starlink: true
      theta: true
    middlewares:
      []
      # - crowdsec-crowdsec-bouncer@kubernetescrd

service:
  enabled: true
  type: ClusterIP
  spec:
    trafficDistribution: PreferSameNode
    ipFamilies: ["IPv4", "IPv6"]
    ipFamilyPolicy: RequireDualStack
    clusterIP: 10.43.0.69
    clusterIPs:
      - 10.43.0.69
      - 2001:cafe:43::69

  additionalServices:
    internal:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: internal
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-internal.sophons.cloud
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      spec:
        trafficDistribution: PreferSameNode
        externalTrafficPolicy: Local
    kaos:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: kaos
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-kaos.sophons.cloud
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      spec:
        trafficDistribution: PreferSameNode
        externalTrafficPolicy: Local
    starlink:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: starlink
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-starlink.sophons.cloud,
          traefik-star-theta.sophons.cloud,
          traefik-sango-star-theta.sophons.cloud
      spec:
        trafficDistribution: PreferSameNode
        ipFamilies: ["IPv6"]
        externalTrafficPolicy: Local
    theta:
      single: true
      type: LoadBalancer
      annotations:
        metallb.io/address-pool: theta
        external-dns.alpha.kubernetes.io/hostname: >
          traefik-theta.sophons.cloud,
          traefik-star-theta.sophons.cloud,
          traefik-sango-star-theta.sophons.cloud
      spec:
        trafficDistribution: PreferSameNode
        ipFamilies: ["IPv6"]
        externalTrafficPolicy: Local

providers:
  kubernetesCRD:
    nativeLBByDefault: true
    allowCrossNamespace: true
  kubernetesIngress:
    nativeLBByDefault: true
    # allowCrossNamespace: true
  kubernetesGateway:
    enabled: true
    nativeLBByDefault: true
    # allowCrossNamespace: true
    experimentalChannel: true
  file:
    enabled: true
    content: |
      http:
        middlewares:
          redirect-to-https:
            redirectScheme:
              scheme: https
              permanent: true

        routers:
          headscale:
            entryPoints: [web, websecure]
            service: headscale
            rule: Host(`hs.vrtx.sh`)

        services:
          headscale:
            loadBalancer:
              servers:
                - url: https://10.43.0.42
              passHostHeader: true
              serversTransport: headscale@file
        
        serversTransports:
          headscale:
            serverName: hs.vrtx.sh

      tls:
        stores:
          default:
            defaultCertificate:
              certFile: /etc/traefik/gateway-tls/tls.crt
              keyFile: /etc/traefik/gateway-tls/tls.key

        certificates:
          - certFile: /etc/traefik/gateway-tls/tls.crt
            keyFile: /etc/traefik/gateway-tls/tls.key

gateway:
  listeners:
    web: # HTTP listener that matches entryPoint `web`
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure: # HTTPS listener that matches entryPoint `websecure`
      port: 443
      mode: Terminate
      protocol: HTTPS
      namespacePolicy:
        from: All
      certificateRefs:
        - kind: Secret
          group: ""
          name: gateway-tls
    ssh: # TCP listener that matches entryPoint `ssh`
      port: 22
      protocol: TCP
      namespacePolicy:
        from: All

priorityClassName: system-node-critical
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 0
deployment:
  kind: DaemonSet
  # https://developers.cloudflare.com/cloudflare-one/networks/connectors/cloudflare-tunnel/deployment-guides/kubernetes/
  additionalContainers:
    - image: cloudflare/cloudflared:2025.11.1
      name: cloudflared
      # envFrom:
      #   - secretRef:
      #       name: cloudflare-tunnel-token
      env:
        - name: GOMEMLIMIT
          value: "60MiB"
      resources:
        requests:
          cpu: "50m"
          memory: "32Mi"
        limits:
          memory: "72Mi"
      command:
        - cloudflared
        - tunnel
        - --no-autoupdate
        - --loglevel
        - debug
        - --metrics
        - 0.0.0.0:2000
        # https://github.com/cilium/cilium/issues/37529
        - --protocol
        - http2
        - --config
        - /.cloudflared/config.yaml
        - run
      volumeMounts:
        - name: cloudflared
          mountPath: /.cloudflared
          readOnly: true
      livenessProbe:
        httpGet:
          # Cloudflared has a /ready endpoint which returns 200 if and only if
          # it has an active connection to Cloudflare's network.
          path: /ready
          port: 2000
        failureThreshold: 1
        initialDelaySeconds: 10
        periodSeconds: 10
  additionalVolumes:
    - name: cloudflared
      secret:
        secretName: cloudflared

env:
  - name: GOMEMLIMIT
    value: "120MiB"
resources:
  requests:
    cpu: "100m"
    memory: "64Mi"
  limits:
    memory: "128Mi"

volumes:
  - type: secret
    name: gateway-tls
    mountPath: /etc/traefik/gateway-tls

tolerations:
  - operator: Exists
  - key: orunmila.sophons.cloud/ase-orun
    operator: Exists
  - key: prime.sophons.cloud
    operator: Exists

experimental:
  # Fun fact, using plugins essentially introduce a hard dependency
  # on Traefik's plugin servers.
  # Loved figuring this one out
  plugins:
    crowdsec-bouncer-traefik-plugin:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.4.6"

securityContext:
  capabilities:
    add: ["NET_BIND_SERVICE"]

podSecurityContext:
  sysctls:
    # Allows ICMP traffic (ping, traceroute) to resources behind cloudflared.
    - name: net.ipv4.ping_group_range
      value: "65532 65532"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: '{{ template "traefik.name" . }}'
            app.kubernetes.io/instance: '{{ .Release.Name }}-{{ include "traefik.namespace" . }}'
        topologyKey: kubernetes.io/hostname
