container_runtime: containerd

tls:
  enabled: true
  agent:
    tlsClientAuth: true
    reflector:
      namespaces: [logging-system]

config:
  parsers:
    s01-parse:
      traefik-tcpudp.yaml: |
        onsuccess: next_stage
        debug: true
        # original: aidalinfo/tcpudp-flood-traefik
        name: vrtx/tcpudp-flood-traefik
        description: "Parse TCP/UDP traefik logs"
        filter: "evt.Parsed.program == 'tcpudp-traefik'"
        nodes:
        ## TCP GROK
          - grok:
          ## Grok pattern for extract IP SOURCE and other informations on this message structure
              pattern: 'Handling TCP connection address=%{IP:destination_ip}:%{NUMBER:destination_port} remoteAddr=%{IP:source_ip}:%{NUMBER:source_port}'
              ## Apply pattern on for all message in logs
              apply_on: message
              statics:
              ## Add meta value, this type is used by scenario
                - meta: log_type
                  value: traefik_tcpudp
        ## UDP GROK pattern for extract IP SOURCE and other informations on this message structure
          - grok:
              pattern: 'Handling UDP stream from %{IP:source_ip}:%{NUMBER:source_port} to %{IP:destination_ip}:%{NUMBER:destination_port}'
            ## Apply pattern on for all message in logs
              apply_on: message
              statics:
              ## Add meta value, this type is used by scenario
                - meta: log_type
                  value: traefik_tcpudp
        statics:
        ## Pass Time and Source IP to other stages and scenarios.
            - meta: source_ip
              expression: "evt.Parsed.source_ip"
            # - target: evt.StrTime
            #   expression: evt.Parsed.time
  config.yaml.local: |
    db_config:
      flush:
        agents_autodelete:
          cert: 60m # This is TLS client authentication
          login_password: 60m # This includes the auto registration token as well
        ## Flush both login types if the machine has not logged in for 60 minutes or more

    api:
      server:
        auto_registration:
          enabled: true
          token: "${REGISTRATION_TOKEN}" # /!\ Do not modify this variable (auto-generated and handled by the chart)
          allowed_ranges:
            - "127.0.0.1/32"
            - "192.168.0.0/16"
            - "10.0.0.0/8"
            - "172.16.0.0/12"
            - "10.41.0.0/16"
            - "2001:cafe:41::/56"

secrets:
  externalSecret:
    name: crowdsec

lapi:
  resources:
    requests:
      cpu: 150m
      memory: 128Mi
    limits:
      cpu: null
      memory: 384Mi

  persistentVolume:
    config:
      enabled: false
    data:
      enabled: false
  env:
    - name: ENROLL_KEY
      valueFrom:
        secretKeyRef:
          name: crowdsec
          key: enrollKey
    - name: BOUNCER_KEY_traefik
      valueFrom:
        secretKeyRef:
          name: crowdsec
          key: traefikBouncerKey
    - name: ENROLL_INSTANCE_NAME
      value: "sophons"
    - name: ENROLL_TAGS
      value: "k8s linux"

agent:
  hostVarLog: false
  # isDeployment: true
  # replicas: 1
  # strategy:
  #   type: RollingUpdate

  env:
    - name: GOMEMLIMIT
      value: 128MiB
    - name: COLLECTIONS
      value: "crowdsecurity/traefik crowdsecurity/linux"
    # - name: PARSERS
    #   value: "aidalinfo/tcpudp-flood-traefik"
    - name: LEVEL_DEBUG
      value: "true"

  resources:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
      cpu: null
      memory: 128Mi

  persistentVolume:
    config:
      enabled: false

  # this is ignored for daemonset, but cant use deployment
  # cuz that's broken too :)
  ports:
    - name: syslog
      containerPort: 6900
      protocol: UDP
    - name: http-traefik
      containerPort: 6969
      protocol: TCP
    - name: http-tu-traefik
      containerPort: 6970
      protocol: TCP

  service:
    ports:
      - name: syslog
        protocol: UDP
        port: 6900
      - name: http-traefik
        protocol: TCP
        port: 6969
      - name: http-tu-traefik
        protocol: TCP
        port: 6970

  additionalAcquisition:
    - source: syslog
      listen_addr: 0.0.0.0
      listen_port: 6900
      # undocumented but exists
      # https://github.com/crowdsecurity/crowdsec/pull/3435
      # disable_rfc_parser: true
      labels:
        type: syslog
        program: traefik

    - source: http
      listen_addr: 0.0.0.0:6969
      path: /v1/logs/traefik
      timeout: 30s
      auth_type: mtls
      tls:
        ca_cert: /etc/ssl/crowdsec-agent/ca.crt
        server_key: /etc/ssl/crowdsec-agent/tls.key
        server_cert: /etc/ssl/crowdsec-agent/tls.crt
      labels:
        type: traefik

    - source: http
      listen_addr: 0.0.0.0:6970
      path: /v1/logs/tcpudp-traefik
      timeout: 30s
      auth_type: mtls
      tls:
        ca_cert: /etc/ssl/crowdsec-agent/ca.crt
        server_key: /etc/ssl/crowdsec-agent/tls.key
        server_cert: /etc/ssl/crowdsec-agent/tls.crt
      labels:
        type: tcpudp-traefik
